<nav>
  <h1 class="logo">Nuggets Repo!</h1>
  <a class="right-side-links" href="#">Sign Out</a>
  <a class="right-side-links" href="#">Settings</a>
</nav>
<div class="left-sidebar">
  <div class="gallery-organization-types">
    <div class="g-o-type">Random Shuffle</div>
    <div class="g-o-type">By Category</div>
  </div>
  <div class="create-new-options">
    <div class="c-n-option">+ New Video</div>
    <div class="c-n-option">+ New Text</div>
  </div>
</div>
<ul class="sources-list">
  <li class="nugget-source source-text">
    <img src="#" class="book-cover">
    <div class="read-option">Read</div>
    <div class="nuggets-option">Nuggets</div>
  </li>
</ul>
