// Place all the styles related to the Ebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
  color: #000;
  background-color: transparent;
}

iframe#ebook-section {
  width: 80%;
  height: 700px;
  margin: 0% 10%;
}

div.section-controls {
  display: block;
  width: 18.5%;
  margin: auto;
}

span.single-word {
  margin: 0px 2px;
}

p {
  word-wrap: break-word;
}

span.current-word {
  background-color: #ffbd03;
}
