// Place all the styles related to the Ebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
  color: #000;
  background-color: transparent;
}

div#ebook-dashboard {
  display: inline-flex;
  width: 80%;
  margin: 0% 10%;
  height: 700px;
}

iframe#ebook-section {
  flex-grow: 1;
  min-width: 70%;
}

ul#notes-column {
  background-color: #bcbcbc;
  flex-grow: 1;
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  overflow-y: scroll;
}

li.notes-container {
  border-bottom: 1px solid #555555;
  padding: 25px 25px 15px 25px;
}

p[class^="notes"] {
  margin: 0px;
}

p[class^="notes"][class$="title"] {
  font-weight: bold;
}

div.notes-options {
  margin: 15px 0px 0px 0px;
}

div.notes-options span[class$="option"] {
  text-decoration: underline;
}

button.controls {
  display: block;
  width: 18.5%;
  margin: auto;
}

span.single-word {
  padding: 0px 2px;
  user-select: none;
  font-size: 1em;
}

p {
  word-wrap: break-word;
}


span[class$="unique-highlight"] {
  background-color: #32CD32;
}

span.annotation-selected {
  background-color: #ff68ed;
}

span.temporarily-highlighted {
  background-color: #00BFFF;
}

span.current-word {
  background-color: #ffbd03;
}
